@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
/*https://www.youtube.com/watch?v=G4_QjTJTVlc
46 mobile*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    padding: 20px 70px;
    font-size: 2.1rem;
    background: rgb(250, 250, 250);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: background 500ms ease;
    
}

.btn:hover {
    cursor: pointer;
    background: rgb(0, 204, 255);
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

.headline_second {
    font-size: 2.2rem;
    
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

/*Navbar*/

.nav-button{
    border: 0;
    border-radius: 20px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    margin: 8px;
    cursor: pointer;
}

#navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    color: #eee;
    height: 80px;
    position: fixed;
}

  .nav-menu-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.nav-menu-text h2{
    font-size: 1.5rem;
}

.LogoPLV {
    font-size: 1.3rem;
    
}

#navbar-container{
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#F-h2{
    display: none;
}

.overlay{
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    z-index: 9;
    position: fixed;
    left: 0;
    top: 80px;
    overflow-x: hidden;
    transition: all 0.5s;
    display: none;
}

.overlay-content{
    position: relative;
    bottom: 40px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    
}

.button_nav{
    border-radius: 30px;
    border: none;
    background-color: #fff;
    width: 40%;
    height: 40px;
    font-size: 25px;
    color: black;
    box-shadow: 0 0 50px rgba(0, 255, 255, 0.253) ;

}

.button_nav:hover{
    transition: all 0.5s;
    background-color:  rgb(0, 204, 255);
}

.overlay a{
    padding: 8px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 34px;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus{
    color: rgb(250, 250, 250);
}

.overlay .closebtn{
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 10px;
}


.logo{
    font-size: 2rem;
}

#navbar-items{
    display: flex;
    list-style: none;
}

#navbar-items li {
    padding: 10px;
}

/*Botoões flutuantes*/

#botoes_flutuantes{
    position: fixed;
    top: 60%;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: right;
    font-size: 25px;
}

.box{
    width: 65px;
    height: 68px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0.6rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .4s ease;
}

.box:hover{
    width: 230px;
    background: rgb(0, 0, 0);
    border-radius: 35px;
    color: #fff;
    box-shadow: 0 0 50px rgba(0, 255, 255, 0.253) ;
}

#pzada{
    transform: translate(50px);
    color:rgb(250, 250, 250);
    padding-left: 0.75rem;
}

.box .icon{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}

.whatsapp {
    background-color:green ;
}

.instagram {
    background-color:rgb(255, 72, 0) ;
}

.gmail {
    background-color:rgb(7, 7, 7) ;
}

/*showcase*/

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url('/img/showcase.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    /*overlay*/
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;

}

#showcase-container {
    display: grid;
    grid-template-columns: repeat(1fr);
    justify-items: center;
    
}

#showcase-container h2 {
    font-size: 4.5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#showcase-container #h22{
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;   
    color: rgb(0, 247, 255); text-shadow: black 0.1em 0.1em 0.2em;
}

#showcase-container #h222{
    
    font-family: 'Montserrat', sans-serif;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
}

#showcase-container p {
    font-size: 2.0rem;
    
    
    
}

#showcase-container #pdois {

    color: rgb(0, 247, 255);
}

#showcase-container a{
    margin-top: 3rem;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    
}

/*Formas de contato*/
#botoes_redes {
    
    padding: 15px;
    width: 100%;
    background: #eee;
    color: #111;
}

#div_botoes_redes {
    display: flex;
    flex-direction: row;
    margin:auto;
    justify-items: center;
   
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.btn_redes{
    width: 100%;
}

.btn_redes_a{
    width: 6rem;
}

#botoes_redes .headline{
    font-family: 'Montserrat', sans-serif;
    padding-top: 2%;
}

#botoes_redes .headline1{
    font-family: 'Montserrat', sans-serif;
    padding-top: 2%;
    color: rgb(7, 7, 7); text-shadow: rgba(0, 0, 0, 0.397) 0.1em 0.1em 0.2em;
}



.headline1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
    padding-top: 3.5%;
    
}

.headline2{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1.0%;
}

#botoes_redes .Hfooter{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
    padding-top: 3.5%;
}


/*Onde sua empresa pode aparecer*/
#clients {
    padding: 15px;
    width: 100%;
    background: #222;
    color: #fff;
    padding-bottom: 4%;
    background: url('/img/pc1.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;

}

#clients .headline1{
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
}

#clients-container{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-items: center;
    padding: 15px;
    
}

.client {
    display: inline-block;
    width: 25%;
}

#clients .headline{
    font-family: 'Montserrat', sans-serif;
}


/*About*/

#features {
    width: 100%;
    background: #eee;
    color: #222;
    padding: 50px;
}

.fa-tachometer-alt{
    color: rgb(0, 199, 206);
}

.fa-code{
    color: rgb(0, 199, 206);
}

.fa-layer-group{
    color: rgb(0, 199, 206);
}

#features-container{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    text-align: center;
    
}

#features .headline{
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0); text-shadow: rgba(0, 0, 0, 0.473) 0.1em 0.1em 0.2em;
}


.feature {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 10px 9px #5c5c5cb9;
}

.feature-title{
    font-size: 1.5rem;
    font-weight: bold;
}

/*Product*/
#product {
    width: 100%;
    padding: 50px;
    background-color: #222;
    color: #eee;
    background: url('/img/img3.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    
}

#product .headline{
        font-family: 'Montserrat', sans-serif;
        color: white; text-shadow: black 0.1em 0.1em 0.2em;
}

#product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.items {
    width: 50%;
}

.item {
    display: flex;
    padding: 3%;
    margin: 15px 0;
    font-size: 1.2rem;
    padding-bottom:10%;
    background: #fff;
    border-radius: 5px;
    height: 150px;
    
}

#product p{
    color: black;
}

#product i{
    padding: 1rem;
    color: rgb(0, 199, 206);
}

/*Importante*/
#importante {
    width: 100%;
    padding: 20px;
    background: #eee;
    color:rgb(0, 0, 0);
}

#importante .headline{
        font-family: 'Montserrat', sans-serif;
}


#importante .headline1{
    color: rgb(7, 7, 7); text-shadow: rgba(0, 0, 0, 0.397) 0.1em 0.1em 0.2em;
}

#importante-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
    
}

.fa-rocket{
    color: rgb(0, 199, 206);
}

.fa-chess{
    color: rgb(0, 199, 206);
}

.fa-ranking-star{
    color: rgb(0, 199, 206);
}

.itens {
    width: 63%;
   
}

.iten {
    display: flex;
    padding: 50px;
    margin: 15px 0;
    font-size: 1.2rem;
    gap: 1.5rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 5px 10px 9px #5c5c5cb9;
}

/*testimonials*/
.testimonial {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background:#eee;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    
}


#testimonials {
    width: 100%;
    color: black;
    padding: 20px;
    background: #eee;
    background: url('/img/img4.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    
}

#testimonials-container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.testimonial .testimonial-image {
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin: 15px;
}

#testimonials .headline{
    color: #eee;
    font-family: 'Montserrat', sans-serif;
}

#testimonials .headline1{
    color: #eee;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255); text-shadow: rgba(0, 0, 0, 0.397) 0.1em 0.1em 0.2em;
}

/*gallery*/
#gallery {
    width: 90%;
    margin: auto;
    padding: 50px;
}

#gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
    justify-items: center;
    
}

.gallery-image {
    display: inline-block;
    width: 90%;
    height: 90%;
    border-radius: 5px;
}

/*footer*/

.footer {
    
    color: #eee;
    padding: 30px;
    text-align: center;
    background: url('/img/img4.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
}